Repository uwblueprint/supportive-housing, pull requests merged in 2023-06, with the labels that each got.

#74 Log Records Seeding Script
  seeding/seed.sh
Labels: enhancement

#37 juthika/send users invite link
  backend/app/middlewares/validate.py
  backend/app/models/user.py
  backend/app/resources/auth_dto.py
  backend/app/resources/create_invited_user_dto.py
  backend/app/resources/user_dto.py
  backend/app/rest/auth_routes.py
  backend/app/rest/user_routes.py
  backend/app/services/implementations/user_service.py
  backend/app/services/interfaces/user_service.py
  backend/migrations/versions/a2a0a16b6d51_add_status_and_email_to_users_table.py
  backend/migrations/versions/a5d22b31faab_add_resident_table.py
  frontend/src/APIClients/CommonAPIClient.ts
  frontend/src/App.tsx
  frontend/src/components/auth/Credentials.tsx
  frontend/src/components/auth/Signup.tsx
  frontend/src/components/common/LogRecord.ts
  frontend/src/components/common/types/Roles.tsx
  frontend/src/components/pages/Default.tsx
  frontend/src/components/pages/InviteUsers.tsx
  frontend/src/constants/Routes.ts
Labels: back-end

#76 Design system
  frontend/src/App.tsx
  frontend/src/components/common/NavigationBar.tsx
  frontend/src/components/forms/CreateLog.tsx
  frontend/src/components/pages/LogRecords.tsx
  frontend/src/theme/buttonStyles.tsx
  frontend/src/theme/colors.tsx
  frontend/src/theme/index.tsx
  frontend/src/theme/logsTableStyles.tsx
  frontend/src/theme/textStyles.tsx
Labels: front-end

#75 Download Log Records as CSV file on Homepage
  backend/app/rest/log_records_routes.py
  backend/app/services/implementations/log_records_service.py
  backend/app/services/interfaces/log_records_service.py
  frontend/src/APIClients/CommonAPIClient.ts
  frontend/src/components/common/PrintCSVButton.tsx
  frontend/src/components/common/SearchAndFilters.tsx
  frontend/src/components/common/types/Filters.ts
  frontend/src/components/forms/CreateLog.tsx
  frontend/src/components/pages/LogRecords.tsx
  frontend/src/helper/CSVConverter.tsx
  frontend/yarn.lock
Labels: back-end, front-end

#77 Update homepage with log records from DB + pagination
  backend/app/models/log_records.py
  backend/app/models/residents.py
  backend/app/models/user.py
  backend/app/resources/auth_dto.py
  backend/app/rest/log_records_routes.py
  backend/app/rest/residents_routes.py
  backend/app/rest/user_routes.py
  backend/app/services/implementations/log_records_service.py
  backend/app/services/implementations/residents_service.py
  backend/app/services/implementations/user_service.py
  backend/app/services/interfaces/log_records_service.py
  backend/app/services/interfaces/residents_service.py
  backend/migrations/versions/a2a0a16b6d51_add_status_and_email_to_users_table.py
  backend/migrations/versions/a5d22b31faab_add_resident_table.py
  frontend/src/APIClients/CommonAPIClient.ts
  frontend/src/App.tsx
  frontend/src/components/common/Pagination.tsx
  frontend/src/components/common/PrintCSVButton.tsx
  frontend/src/components/common/types/Filters.ts
  frontend/src/components/common/types/LogRecord.ts
  frontend/src/components/forms/CreateLog.tsx
  frontend/src/components/pages/HomePage/HomePage.tsx
  frontend/src/components/pages/HomePage/LogRecordsTable.tsx
  frontend/src/components/pages/HomePage/SearchAndFilters.tsx
  frontend/src/components/pages/LogRecords.tsx
  frontend/src/helper/CSVConverter.tsx
  frontend/src/index.css
  frontend/src/theme/colors.tsx
  frontend/src/theme/logsTableStyles.tsx
  frontend/src/theme/textStyles.tsx
  frontend/src/types/LogRecordTypes.ts
  frontend/src/utils/DateUtils.ts
Labels: front-end

#96 User and Residents Seeding Script
  seeding/create-log-records.sh
  seeding/create-residents.sh
  seeding/create-user.sh
  seeding/seed.sh
Labels: enhancement

#121 Fix yarn.lock Version to 4.1.2
  frontend/yarn.lock
Labels: fix

#103 Add Validation for date_left Column in Residents Table
  backend/app/models/residents.py
  backend/app/rest/residents_routes.py
  backend/app/services/implementations/residents_service.py
  backend/app/services/interfaces/residents_service.py
  backend/migrations/versions/a5d22b31faab_add_resident_table.py
Labels: back-end, fix

#113 Shell scripts for common functionality
  scripts/exec-db.sh
  scripts/flask-db-upgrade.sh
  scripts/restart-docker.sh
Labels: enhancement

#106 Pass filters as query params in log_routes.py
  backend/app/rest/__init__.py
  backend/app/rest/sign_in_logs_routes.py
Labels: back-end, fix

#115 [FIX] - Pagination Component redundant fetches
  frontend/src/components/common/Pagination.tsx
Labels: front-end, fix, Homepage
