Repository uwblueprint/supportive-housing, pull requests merged in 2023-07, with the labels that each got.

#123 rename sign in logs functions
  backend/app/rest/auth_routes.py
  backend/app/rest/sign_in_logs_routes.py
  backend/app/services/implementations/sign_in_logs_service.py
  backend/app/services/interfaces/sign_in_logs_service.py
Labels: back-end, fix

#105 Adding styling for new log components
  frontend/src/components/forms/CreateLog.tsx
  frontend/src/index.css
  frontend/src/theme/common/buttonStyles.tsx
  frontend/src/theme/common/logsTableStyles.tsx
  frontend/src/theme/common/textStyles.tsx
  frontend/src/theme/fontStyles.tsx
  frontend/src/theme/forms/datePickerStyles.tsx
  frontend/src/theme/forms/formTextStyles.tsx
  frontend/src/theme/forms/inputStyles.tsx
  frontend/src/theme/forms/selectStyles.tsx
  frontend/src/theme/index.tsx
  package-lock.json
  package.json
Labels: front-end

#120 Export CSV Button Styling
  frontend/src/components/common/ExportCSVButton.tsx
  frontend/src/components/pages/HomePage/HomePage.tsx
Labels: front-end, Homepage

#122 Improvement: Pagination Processing Time
  backend/app/rest/log_records_routes.py
  backend/app/services/implementations/log_records_service.py
  frontend/src/APIClients/CommonAPIClient.ts
  frontend/src/components/common/types/Filters.ts
  frontend/src/components/pages/HomePage/HomePage.tsx
  frontend/src/types/LogRecordTypes.ts
Labels: improvement

#137 Text Styles Not Rendering
  frontend/src/theme/index.tsx
Labels: bug

#127 Update Navigation Bar
  frontend/src/components/common/NavigationBar.tsx
Labels: front-end

#128 Fix Firebase Lookup in User APIs
  backend/app/resources/update_user_dto.py
  backend/app/services/implementations/user_service.py
Labels: back-end, fix

#135 Employee Directory Table And Pagination
  backend/app/rest/user_routes.py
  backend/app/services/implementations/user_service.py
  backend/app/services/interfaces/user_service.py
  frontend/src/APIClients/CommonAPIClient.ts
  frontend/src/App.tsx
  frontend/src/components/common/ExportCSVButton.tsx
  frontend/src/components/pages/AdminControls/EmployeeDirectory.tsx
  frontend/src/components/pages/AdminControls/EmployeesTable.tsx
  frontend/src/components/pages/EmployeeDirectory.tsx
  frontend/src/components/pages/HomePage/HomePage.tsx
  frontend/src/components/pages/HomePage/LogRecordsTable.tsx
  frontend/src/components/pages/HomePage/SearchAndFilters.tsx
  frontend/src/theme/common/tableStyles.tsx
  frontend/src/theme/fontStyles.tsx
  frontend/src/theme/index.tsx
  frontend/src/types/UserTypes.ts
Labels: back-end, front-end
